h1 {
    border: 2px #818181 solid;
    color: #0f509b;
    text-align: center;
    padding: 10px;
}
h2{
    color: #0f509b;
    position:relative;
    text-align:center;
    padding: 8px;

}
.epic-button{
    position: relative;
    left:50%;
    transform:translate(-50%,0);
    text-align:center;
    padding: 15px 32px;
    text-decoration:black;

}